VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=studiosbook.com.br
VITE_FIREBASE_PROJECT_ID=blackvision-27f1c
VITE_FIREBASE_STORAGE_BUCKET=blackvision-27f1c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=574358182772
VITE_FIREBASE_APP_ID=1:574358182772:web:9796070587004f3f33aa21
VITE_API_BASE_URLS=https://studiosbook-api-production.up.railway.app
