FIREBASE_PROJECT_ID=blackvision-27f1c
PUBLIC_APP_URL=https://studiosbook.com.br
FRONTEND_ORIGINS=https://studiosbook.com.br,https://www.studiosbook.com.br,https://studiosbook.web.app,https://blackvision-27f1c.web.app
ADMIN_EMAILS=sobrinhonewton@gmail.com,getblackvision.br@gmail.com
SUPPORT_EMAIL=getblackvision.br@gmail.com
SUPPORT_PHONE=73981068594
MERCADO_PAGO_ACCESS_TOKEN=token_do_mercado_pago
MERCADO_PAGO_PLAN_ID=id_do_plano_assinatura_opcional
FIREBASE_SERVICE_ACCOUNT_JSON=json_ou_base64_da_service_account
# Alternativa ao FIREBASE_SERVICE_ACCOUNT_JSON:
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk@project.iam.gserviceaccount.com
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
